form {
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.name {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.textInput {
    display: block;
    width: 150px;
    height: 25px;
    padding-left: 5px;
}

.email {
    width: 300px;
    margin-bottom: 30px;
}




textarea {
    padding-left: 5px;
    width: 250px;
    height: 100px;
}